.gif_container {
  text-decoration: none;
  width: 100%;
}

.gif_link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  height: 100%;
  border-bottom: 2px solid var(--amarillo);
  border-top: 2px solid var(--amarillo);
}

.gif_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: saturate(150%);
}

